<%- include('partials/header.ejs') %>

<div class="centered">    
    <img src="../images/no-reservation.svg" alt="" class="not-found-img">
    <h3>NO RESERVATIONS MADE</h3>
    <a href="/reservation"><button class="back-2-home">Book one now!</button></a>
</div>
<%- include('partials/footer.ejs') %>