<%- include('partials/header.ejs') %>

    <div class="menu">
        <div><button onclick="closeMenu();"><i class="fa fa-times"></i></button></div>
        <p><a href="/">Home</a></p>
        <p><a href="/bookings">Reservations</a></p>
        <p><a href="/reservation">Book A Reservation</a></p>
        <p><a href="/profile">My Profile</a></p>
        <p><a href="/payment-methods">Payment Methods</a></p>
        <p><a href="/settings">Settings</a></p>
        <p><a href="/sign-up">Sign Up</a></p>
    </div>

    <div>
        <a class="up-btn" href="#menu"><i class="fa fa-arrow-up"></i></a>
    </div>

    <header id="menu">
        <nav> 
           <a href="/">Devina.</a>
            <button class="sign-btn"><a href="/sign-up">Sign Up</a></button>
            <i class="fa fa-bars" onclick="openMenu();"></i>
        </nav>

        <img src="/images/hero.svg" alt="Travelers Image" class="hero-img">

        <h3>Discover Your <span>Perfect</span> Stay</h3>
        <button class="action-btn">Book A Reservation</button>
    </header>

     <section>
        <div class="card">
            <img src="images/money.svg" alt="Relaxation Centre">
            <h3>Affordable Accomodation</h3>
        </div>

        <div class="card">
            <img src="images/family.svg" alt="Relaxation Centre">
            <h3>Family Sight Seeing</h3>
        </div>

        <div class="card">
            <img src="images/relax.svg" alt="Relaxation Centre">
            <h3>Relaxation</h3>
        </div>
    </section>

    <aside>
        <div>
        <h3>Devina.</h3>
        <p>Your Home away from home</p> 

        <div class="gallery-images">
            <div class="flexy"><img src="images/image-7.jpg" alt="Exterior Hotel Images" width="100%"></div>

            <div class="flexy"><img src="images/image-1.jpg" alt="Interior Hotel Images" width="100%"></div>
            
            <div class="flexy"><img src="images/image-2.jpg" alt="Interior Hotel Images" width="100%"></div>
        </div>
        </div>
    </aside>

    <section class="openings">
        <div>
        <h3>Opening Hours</h3>

        <h4>Check-in</h4>

        <p>MONDAYS-FRIDAYS: 5am-11pm</p>

        <p>WEEKENDS: 4am-1am</p>

        <h4>Check-out</h4>

        <p>Any time of the day!</p>

        <button>Book A Room</button>
        </div>
    </section>

    <h3 class="y-devina">Why Devina?</h3>
    <section>
        <div class="card">
            <img src="images/basketball.svg" alt="Relaxation Centre">
            <h3>Basketball Court</h3>
        </div>

        <div class="card">
            <img src="images/beer.svg" alt="Relaxation Centre">
            <h3>Open Bar</h3>
        </div>

        <div class="card">
            <img src="images/free-wifi.svg" alt="Relaxation Centre">
            <h3>Free Internet</h3>
        </div>

        <div class="card">
            <img src="images/goal.svg" alt="Relaxation Centre">
            <h3>Live Football</h3>
        </div>
    </section>

    <footer>
        <h3>Devina.</h3>
        <p>Devina is Your home away from home. <br>
            Your go-to destination for Luxury nights and exotic environment.
        </p>

        <h3 class="down">Contact Info</h3>
        <p>001, Highway, New york.</p>
        <p>+1 901 403 273</p>
        <p>info@devina.org</p>

        <p class="rights-info">
            <a href="/" class="bluish">Devina.</a> &#169;
             2024, All Rights Reserved. <br>
        Built by <a href="https://web.facebook.com/profile.php?id=100088825343972" class="bluish">Belive Osawaru. &#128526;</a></p>
    </footer>

</body>
<script src="script.js"></script>