<%- include('partials/header.ejs') %>

<%- include('partials/header.ejs') %>

<div class="centered">
    <img src="images/welcome.svg" alt="" class="sign-up-image">

<form action="" method="post">
    
    <label for="email">Email Address</label> <br>
    <input type="email" name="email" id="email" placeholder="Type your email address"> <br>

    <label for="phone">Password</label> <br>
    <input type="password" name="password" id="password" placeholder="Type your password"> <br>

    <button type="submit">Log In</button>
    <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
</form>
</div>
