<%- include('partials/header.ejs') %>

<div class="centered">    
    <img src="../images/not-yet-logged-in.svg" alt="" class="not-found-img">
    <h3>YOU ARE NOT LOGGED IN!</h3>
    <a href="/log-in"><button class="back-2-home">Log in now!</button></a>
</div>

<%- include('partials/footer.ejs') %>