* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.not-found-img {
    width: 50%;
    margin: 55px 0px 15px 0px;
}
body { 
    background-color: #95c4e6;
    font-family: "Roboto Condensed", sans-serif;
}
button:hover, i:hover, a:hover {
    cursor: pointer;
}
a {
    color: currentColor;
    text-decoration: none;
}
.menu {
    /* background: #abdafc; */
    background: darkslateblue;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1111111;
    height: 100%;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    margin-left: 350px;
    transition: all .3s ease;
}
.menu-transit {
    margin-left: 0px;
    visibility: visible;
    opacity: 1;
}
.menu p {
    text-align: center;
    line-height: 2em;
    color: white;
    background: rgb(64, 53, 136);
    margin: 2px 5px;
    padding: 8px 8px 8px 8px;
    font-weight: light;
    border-radius: 8px;
}
.menu p:last-child {
    padding: 0px;
    background: #95c4e6;
    color: black;
    margin-top: 15px;
    font-weight: bold;
}
.menu button {
    background: rgb(64, 53, 136);
    border: none;
    padding: 7px 10px;
    color: white;
    margin: 5px;
    border-radius: 5px;
    margin-top: 20px;
    border-radius: 8px;
    position: absolute;
    right: 20px;
    top: 0px;
}
.menu div {
    margin-bottom: 35px;
}
header {
    display: grid;
    justify-items: center;
    text-align: center;
    font-family: sans-serif;
}
header h3 {
    margin: 15px 15px 20px 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
    font-size: 25.5px;
}
nav {
    background: darkslateblue;
    width: 100%;
    opacity: .9;
    color: white;
    padding: 20px 15px;
    text-align: left;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 100000;
}
nav i {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
}
.sign-btn {
    position: absolute;
    right: 50px;
    top: 17px;
    background: #95c4e6;
    border: none;
    padding: 3px 15px;
    border-radius: 10px;
    font-weight: bold;
}
h3 span {
    color: darkslateblue;
}
.hero-img {
    width: 50%;
    margin: 100px 20px 20px 20px;
}
.action-btn, aside button {
    background: darkslateblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}
section img {
    width: 100%;
    height: 300px;
    margin-block: 25px;
}
.centered {
    display: grid;
    justify-items: center;
}
.flexy {
    display: flex;
    justify-content: center;
}
section {
    display: grid;
    justify-items: center;
    margin: 40px 20px;
}
.card {
    display: grid;
    justify-items: center;
    border: 1px solid darkslateblue;
    color: black;
    margin: 10px 10px;
    width: 90%;
    height: 210px;
    text-align: center;
    border-radius: 8px;
}
.card:hover {
    background: darkslateblue;
    opacity: .9;
    color: white;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(51, 34, 165);
    transform: scale(1.03);
}
.card h3 {
    margin: -5px 10px 10px 10px;
}
.card img {
    width: 40%;
    height: 150px;
    margin: 0px;
}
aside { 
    color: black;
    padding: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
}
aside h2 {
    color: darkslateblue;
}
aside h2, p { 
    text-align: center;
}
aside div {
    padding: 7px;
    display: grid;
    justify-items: center;
}
.gallery-images {
    display: grid;
    justify-items: center;
    padding: 10px;
}
.gallery-images img { 
    margin-block: 1px;
    border-radius: 8px;
}
.openings {
    padding: 0px 15px;
    display: flex;
    justify-content: center;
}
.openings div {
    background: darkslateblue;
    padding: 10px;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 2.1em;
    border-radius: 8px;
    margin-block: 20px;
}
.openings div h2 {
    margin: 0px 0px 7px 0px;
}
.openings div h3 {
    margin-top: 10px;
}
.openings div p {
    font-weight: 350;
    font-size: 15px;
}
.openings div button {
    border: none;
    background: #95c4e6;
    padding: 5px 50px;
    border-radius: 5px;
    margin: 10px 0px 5px 0px;
}
.y-devina {
    color: darkslateblue;
    text-align: center;
    margin: 60px 0px -30px 0px;
}
.sign-up-image {
    width: 50%;
    margin-block: 40px;
}
form {
    border: 1px solid darkslateblue;
    padding: 15px;
    border-radius: 10px;
    width: 60%;
}
form label {
    font-size: 15px;
}
form p {
    font-size: 15px;
}
form input {
    margin: 5px 0px 20px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
}
form button {
    background: darkslateblue;
    padding: 7px 20px;
    width: 100%;
    border: none;
    border-radius: 8px;
    color: white;
    margin-bottom: 8px;
}
form a {
    text-decoration: underline;
}
